<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>976705322011-91cf0g86fvpqmii55ccrgpgiah2dr7v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976705322011-91cf0g86fvpqmii55ccrgpgiah2dr7v0</string>
	<key>API_KEY</key>
	<string>AIzaSyDIOcl_0kuM169CFjiWFI5ht1C2JJTMMHk</string>
	<key>GCM_SENDER_ID</key>
	<string>976705322011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miaostone.quanlishi</string>
	<key>PROJECT_ID</key>
	<string>quanlishi-7504e</string>
	<key>STORAGE_BUCKET</key>
	<string>quanlishi-7504e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:976705322011:ios:4a7b6625f0f0d688</string>
	<key>DATABASE_URL</key>
	<string>https://quanlishi-7504e.firebaseio.com</string>
</dict>
</plist>